
{% extends 'base.html' %}
{% block content %}
{% load humanize %}

<div class="container">
  <div class="row">  
      <div class="col-md-12 text-center">
          <div class="col-md-12 py-4">
              <div class="lc-block mb-3"><span editable="inline" class="text-uppercase text-info"><b>Our Track Record</b></span>
                  <h2 editable="inline" class="display-4 mt-2 text-primary" style="letter-spacing: -2px;"><b>Trading Alerts Service Statistics</b></h2>
                  
              </div>
          </div>
      </div>
  </div>

  <dl class="row">
    <dt class="col-sm-3">August 2021</dt>
    <dd class="col-sm-9"></dd>
  
    <dd class="col-sm-3">Total alerts</dd>
    <dd class="col-sm-9">{{posts.count}}</dd>
  
    <dd class="col-sm-3">Win</dd>
    <dd class="col-sm-9">40</dd>
    <dd class="col-sm-3 text">Loss</dd>
    <dd class="col-sm-9">14</dd>
    <dd class="col-sm-3 text-truncate">Cancelled</dd>
    <dd class="col-sm-9">4</dd>
    <dt class="col-sm-3">Win/Loss ratio</dt>
    <dd class="col-sm-9">
      <dl class="row">
        <dt class="col-sm-4">53/40=74%</dt>
        <dd class="col-sm-8"></dd>
      </dl>
    </dd>
  </dl>

<table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Instrument</th>
        <th scope="col">Position</th>
        <th scope="col">Entry</th>
        <th scope="col">TP</th>
        <th scope="col">SL</th>
        <th scope="col">Status</th>
        <th scope="col">Updated</th>
    </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{post.crated_at}}</td>
        <td>{{post.symbol.title}}</td>
        <td>{{post.status}}</td>
        <td>{{post.entry.normalize|intcomma}}</td>
        <td>{{post.tp.normalize|intcomma}}</td>
        <td>{{post.sl.normalize|intcomma}}</td>
        <td>{{post.get_result_display}}</td>
        <td>{{post.finished_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<footer class="card-footer">
{% include 'inc/_footer.html' %}
</footer>
  {% endblock %}