{% extends 'base.html' %}
{% block content %}
<br>
<div class="container" style="padding-top: 10vh;padding-bottom:10vh">
	<div class="row align-items-center px-2">
		<div class="col-12 col-md-7 col-lg-6">
			<div class="lc-block mb-4">
				<div editable="rich">
					<h1 class='text-info'>Excavo Blockchain Trust</h1>
					<p>DeFi is here to stay. It will revolutionize our understanding of asset management business. All money from Excavo Blockchain Trust initial sales will be placed under EXCAVO management to trade and invest in crypto</p>
				</div>
			</div><!-- /lc-block -->
			<div class="lc-block d-flex mb-5">
				<div class="pe-3">
					<h3 class="h2 mb-0 text-secondary" editable="inline">100%</h3>
					<span editable="inline" class="mb-0 text-muted"> backed by crypto assets</span>
				</div>
				<div class="border-start"></div>
				<div class="px-3">
					<h3 class="h2 mb-0 text-secondary" editable="inline">1M </h3>
					<span editable="inline" class="mb-0 text-muted">tokens total supply</span>
				</div>
				<div class="border-start"></div>
				<div class="ps-3">
					<h3 class="h2 mb-0 text-secondary" editable="inline">$ 1M</h3>
					<span editable="inline" class="mb-0 text-muted"> Initial investment</span>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-12 col-md-5 col-lg-6">
			<div class="lc-block"><img alt="" class="img-fluid mx-auto d-block" src="https://cdn.dopewp.com/media/svg/undraw-sample/undraw_connected_world_wuay.svg"></div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
</div>
<br>
<br>
<footer class="card-footer fixed-bottom">
    {% include 'inc/_footer.html' %}
</footer>
{% endblock %}